@import "../../node_modules/bootstrap/scss/bootstrap";

h1 {
  text-align: center;
  padding-top: 20px;
}


.thumb img {
  -webkit-filter: grayscale(0);
  filter: none;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px;
}

.thumb {
  padding: 5px;
}
